<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">{% load work_extras %}{% load thumbnail %}
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>
            {% block extra_title %}{% endblock %}Engineer, Creator, Collector - Alex Kessinger
        </title>
        <link rel="stylesheet" type="text/css" href="/media/css/cat.css" media="screen" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container_12">
            {% block body %}
            {% block header %} {% endblock %}
            {% block main_header %}
            <div class="grid_3 prefix_1">
                <h1 class="name">
                    Alex
                </h1>
                <h1 class="name name_spacer">
                    Kessinger
                </h1>
                <h1>
                    Engineer
                </h1>
                <h1>
                    Creator
                </h1>
                <h1>
                    Collector
                </h1>
            </div>
            <div class="grid_7 prefix_1">
                <img class="main_img" src="/media/img/2888502599_abc24c75c6_o.jpg" />
            </div>
            <div class="clear"></div>
            {% endblock %}
            <div class="grid_12 box intro_box">
                <h2>
                    This is the introduction of me: Alex Kessinger.
                </h2>
            </div>
            <div class="clear"></div>
            <div class="grid_8">
                {% text_chunk "who_am_i" "" %}
                {% text_chunk "doing_right_now" "" %}
            </div>
            <div class="grid_4">
                {% text_chunk "aka" "aka" %}
                {% text_chunk "aka" "where_else" %}
                {% text_chunk "contact_me" "" %}
                {% text_chunk "social_services" "social_services" %}
            </div>
            <div class="clear"></div>
            <div class="grid_12">                
                <div class="box the_breakdown">
                    <h1>
                       The Breakdown 
                    </h1>
                    <h3>
                        A list more, or less of projects I have worked on and skills I have learned.
                    </h3>
                </div>
            </div>
             <div class="clear"></div>
             <div class="grid_2">                
                 <div class="box">
                     <h3>
                        Skills
                     </h3>
                 </div>
                 {% for skill in skills %}
                    <h4><a href="{{skill.get_absolute_url}}">{{skill}}</a></h4>
                 {% endfor %}
             </div>
             <div class="grid_10">                
                 <div class="box">
                     <h3>
                        Projects
                     </h3>

                 </div>
                 {% for project in projects %}
                 <div>
                     <div class="project_header">
                         <span class="project_title">
                           <a href="{{project.get_absolute_url}}">{{project.title}}</a>
                         </span>
                         <span class="date from">
                             {{project.start_date}}
                         </span>
                         <span class="date to">
                             {{project.end_date}}
                         </span>
                    </div>
                    <div class="block">
                        <img src="{% thumbnail project.images.all.0.image.name 260x200 crop,upscale %}" width="260px" style="float:left;"/>
                        <div class="project_description">{{project.short_desc|safe}}</div>
                        <div class="clear"></div>
                    </div>
                </div>
                 {% endfor %}
             </div>

             
              <div class="clear"></div>
            {% endblock %}
        </div>
    </body>
</html>
